In [2]:
library(rvest)
library(dplyr)

Loading required package: xml2

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [3]:
BAEA_First_Atlas = read_html("https://www.mba-aom.ca/jsp/datasummaries.jsp?extent=Rg&summtype=SqList&year=allyrs&atlasver=1&byextent1=Prov&byextent2=Sq&region2=1&squarePC=&region1=0&square=&region3=0&species1=BAEA&lang=en")
BAEA_Second_Atlas = read_html("https://www.mba-aom.ca/jsp/datasummaries.jsp?extent=Rg&summtype=SqList&year=allyrs&atlasver=2&byextent1=Prov&byextent2=Sq&region2=1&squarePC=&region1=0&square=&region3=0&species1=BAEA&lang=en")

In [4]:
BAEA_First_Atlas %>% html_nodes("table") %>% .[[2]] %>% html_table(fill = TRUE)

   X1     X2         X3                X4                X5
1  Region Species    Breeding Evidence Breeding Evidence Breeding Evidence
2  Region Species    Max BE            Categ             #Sq
3  1      Bald Eagle H                 POSS              5
4  5      Bald Eagle P                 PROB              3
5  6      Bald Eagle NY                CONF              2
6  7      Bald Eagle NY                CONF              17
7  8      Bald Eagle T                 PROB              4
8  9      Bald Eagle NY                CONF              3
9  10     Bald Eagle NY                CONF              24
10 11     Bald Eagle NY                CONF              24
11 12     Bald Eagle NY                CONF              10
12 13     Bald Eagle NY                CONF              1
13 14     Bald Eagle NY                CONF              9
14 15     Bald Eagle NY                CONF              7
15 16     Bald Eagle NY                CONF              15
16 17     Bald Eagle NY                CONF              5
17 18     Bald Eagle T                 PROB              1
18 19     Bald Eagle NY                CONF              9
19 20     Bald Eagle NY                CONF              23
20 21     Bald Eagle NY                CONF              17
21 22     Bald Eagle NY                CONF              15
22 23     Bald Eagle NY                CONF              19
23 24     Bald Eagle NY                CONF              37
24 25     Bald Eagle NY                CONF              29
25 26     Bald Eagle NY                CONF              23
26 27     Bald Eagle NY                CONF              23
   X6                X7           X8           X9           X10
1  Breeding Evidence Point Counts Point Counts Point Counts Point Counts
2  Atlasser Name     #PC          %PC          Abun         #Sq
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26

In [5]:
BAEA_First_Atlas_Table = BAEA_First_Atlas %>% html_nodes("table") %>% .[[2]] %>% html_table(fill = TRUE)
BAEA_Second_Atlas_Table = BAEA_Second_Atlas %>% html_nodes("table") %>% .[[2]] %>% html_table(fill = TRUE)

In [6]:
Maritime_BBA_Accipiter_Table = data.frame(nrow = 51, ncol = 4)

In [7]:
j = 3
for (i in 1:24){
    Maritime_BBA_Accipiter_Table[i,1] = "Bald_Eagle"
    Maritime_BBA_Accipiter_Table[i,2] = "First_(1886-1990)"
    Maritime_BBA_Accipiter_Table[i,3] = BAEA_First_Atlas_Table[j,1]
    Maritime_BBA_Accipiter_Table[i,4] = BAEA_First_Atlas_Table[j,5]
    j = j + 1
}
j = 3
for (i in 25:51){
    Maritime_BBA_Accipiter_Table[i,1] = "Bald_Eagle"
    Maritime_BBA_Accipiter_Table[i,2] = "Second_(1886-1990)"
    Maritime_BBA_Accipiter_Table[i,3] = BAEA_Second_Atlas_Table[j,1]
    Maritime_BBA_Accipiter_Table[i,4] = BAEA_Second_Atlas_Table[j,5]
    j = j + 1
}

In [8]:
colnames(Maritime_BBA_Accipiter_Table) = c("Species", "Atlas", "Region", "Number_of_Squares_with_Species")
print(Maritime_BBA_Accipiter_Table)

      Species              Atlas Region Number_of_Squares_with_Species
1  Bald_Eagle  First_(1886-1990)      1                              5
2  Bald_Eagle  First_(1886-1990)      5                              3
3  Bald_Eagle  First_(1886-1990)      6                              2
4  Bald_Eagle  First_(1886-1990)      7                             17
5  Bald_Eagle  First_(1886-1990)      8                              4
6  Bald_Eagle  First_(1886-1990)      9                              3
7  Bald_Eagle  First_(1886-1990)     10                             24
8  Bald_Eagle  First_(1886-1990)     11                             24
9  Bald_Eagle  First_(1886-1990)     12                             10
10 Bald_Eagle  First_(1886-1990)     13                              1
11 Bald_Eagle  First_(1886-1990)     14                              9
12 Bald_Eagle  First_(1886-1990)     15                              7
13 Bald_Eagle  First_(1886-1990)     16                             15
14 Bald_Eagle  First_(1886-1990)     17                              5
15 Bald_Eagle  First_(1886-1990)     18                              1
16 Bald_Eagle  First_(1886-1990)     19                              9
17 Bald_Eagle  First_(1886-1990)     20                             23
18 Bald_Eagle  First_(1886-1990)     21                             17
19 Bald_Eagle  First_(1886-1990)     22                             15
20 Bald_Eagle  First_(1886-1990)     23                             19
21 Bald_Eagle  First_(1886-1990)     24                             37
22 Bald_Eagle  First_(1886-1990)     25                             29
23 Bald_Eagle  First_(1886-1990)     26                             23
24 Bald_Eagle  First_(1886-1990)     27                             23
25 Bald_Eagle Second_(1886-1990)      1                             24
26 Bald_Eagle Second_(1886-1990)      2                              9
27 Bald_Eagle Second_(1886-1990)      3                             19
28 Bald_Eagle Second_(1886-1990)      4                             19
29 Bald_Eagle Second_(1886-1990)      5                              9
30 Bald_Eagle Second_(1886-1990)      6                             29
31 Bald_Eagle Second_(1886-1990)      7                             24
32 Bald_Eagle Second_(1886-1990)      8                             10
33 Bald_Eagle Second_(1886-1990)      9                             15
34 Bald_Eagle Second_(1886-1990)     10                             34
35 Bald_Eagle Second_(1886-1990)     11                             31
36 Bald_Eagle Second_(1886-1990)     12                             36
37 Bald_Eagle Second_(1886-1990)     13                             21
38 Bald_Eagle Second_(1886-1990)     14                             30
39 Bald_Eagle Second_(1886-1990)     15                             20
40 Bald_Eagle Second_(1886-1990)     16                             38
41 Bald_Eagle Second_(1886-1990)     17                              9
42 Bald_Eagle Second_(1886-1990)     18                              7
43 Bald_Eagle Second_(1886-1990)     19                             40
44 Bald_Eagle Second_(1886-1990)     20                             68
45 Bald_Eagle Second_(1886-1990)     21                             54
46 Bald_Eagle Second_(1886-1990)     22                             27
47 Bald_Eagle Second_(1886-1990)     23                             35
48 Bald_Eagle Second_(1886-1990)     24                             48
49 Bald_Eagle Second_(1886-1990)     25                             53
50 Bald_Eagle Second_(1886-1990)     26                             33
51 Bald_Eagle Second_(1886-1990)     27                             67

In [9]:
Differences_Between_Atlases_Table = data.frame(nrow = 24, ncol = 3)

In [10]:
j = 1
k = 25
l = 1
for (i in 1:24){
    Differences_Between_Atlases_Table[i,1] = "Bald_Eagle"
    Differences_Between_Atlases_Table[i,2] = Maritime_BBA_Accipiter_Table[j,3]
    Differences_Between_Atlases_Table[i,3] = as.numeric(Maritime_BBA_Accipiter_Table[k,4]) - as.numeric(Maritime_BBA_Accipiter_Table[l,4])
    j = j + 1 
    k = k + 1
    if (k == 26){
        k = k + 3
    }
    l = l + 1
}

In [11]:
colnames(Differences_Between_Atlases_Table) = c("Species", "Region", "Change_in_Number_of_Squares_with_Species")
print(Differences_Between_Atlases_Table)

      Species Region Change_in_Number_of_Squares_with_Species
1  Bald_Eagle      1                                       19
2  Bald_Eagle      5                                        6
3  Bald_Eagle      6                                       27
4  Bald_Eagle      7                                        7
5  Bald_Eagle      8                                        6
6  Bald_Eagle      9                                       12
7  Bald_Eagle     10                                       10
8  Bald_Eagle     11                                        7
9  Bald_Eagle     12                                       26
10 Bald_Eagle     13                                       20
11 Bald_Eagle     14                                       21
12 Bald_Eagle     15                                       13
13 Bald_Eagle     16                                       23
14 Bald_Eagle     17                                        4
15 Bald_Eagle     18                                        6
16 Bald_Eagle     19                                       31
17 Bald_Eagle     20                                       45
18 Bald_Eagle     21                                       37
19 Bald_Eagle     22                                       12
20 Bald_Eagle     23                                       16
21 Bald_Eagle     24                                       11
22 Bald_Eagle     25                                       24
23 Bald_Eagle     26                                       10
24 Bald_Eagle     27                                       44

In [12]:
library(ggplot2)

In [13]:
Maritime_BBA_Accipiter_Table_BAEA = read.table(header=TRUE, text="Species              Atlas Region Number_of_Squares_with_Species
161         Bald_Eagle  First_(1886-1990)      1                              5
162         Bald_Eagle  First_(1886-1990)      5                              3
163         Bald_Eagle  First_(1886-1990)      6                              2
164         Bald_Eagle  First_(1886-1990)      7                             17
165         Bald_Eagle  First_(1886-1990)      8                              4
166         Bald_Eagle  First_(1886-1990)      9                              3
167         Bald_Eagle  First_(1886-1990)     10                             24
168         Bald_Eagle  First_(1886-1990)     11                             24
169         Bald_Eagle  First_(1886-1990)     12                             10
170         Bald_Eagle  First_(1886-1990)     13                              1
171         Bald_Eagle  First_(1886-1990)     14                              9
172         Bald_Eagle  First_(1886-1990)     15                              7
173         Bald_Eagle  First_(1886-1990)     16                             15
174         Bald_Eagle  First_(1886-1990)     17                              5
175         Bald_Eagle  First_(1886-1990)     18                              1
176         Bald_Eagle  First_(1886-1990)     19                              9
177         Bald_Eagle  First_(1886-1990)     20                             23
178         Bald_Eagle  First_(1886-1990)     21                             17
179         Bald_Eagle  First_(1886-1990)     22                             15
180         Bald_Eagle  First_(1886-1990)     23                             19
181         Bald_Eagle  First_(1886-1990)     24                             37
182         Bald_Eagle  First_(1886-1990)     25                             29
183         Bald_Eagle  First_(1886-1990)     26                             23
184         Bald_Eagle  First_(1886-1990)     27                             23
185         Bald_Eagle Second_(1886-1990)      1                             24
186         Bald_Eagle Second_(1886-1990)      2                              9
187         Bald_Eagle Second_(1886-1990)      3                             19
188         Bald_Eagle Second_(1886-1990)      4                             19
189         Bald_Eagle Second_(1886-1990)      5                              9
190         Bald_Eagle Second_(1886-1990)      6                             29
191         Bald_Eagle Second_(1886-1990)      7                             24
192         Bald_Eagle Second_(1886-1990)      8                             10
193         Bald_Eagle Second_(1886-1990)      9                             15
194         Bald_Eagle Second_(1886-1990)     10                             34
195         Bald_Eagle Second_(1886-1990)     11                             31
196         Bald_Eagle Second_(1886-1990)     12                             36
197         Bald_Eagle Second_(1886-1990)     13                             21
198         Bald_Eagle Second_(1886-1990)     14                             30
199         Bald_Eagle Second_(1886-1990)     15                             20
200         Bald_Eagle Second_(1886-1990)     16                             38
201         Bald_Eagle Second_(1886-1990)     17                              9
202         Bald_Eagle Second_(1886-1990)     18                              7
203         Bald_Eagle Second_(1886-1990)     19                             40
204         Bald_Eagle Second_(1886-1990)     20                             68
205         Bald_Eagle Second_(1886-1990)     21                             54
206         Bald_Eagle Second_(1886-1990)     22                             27
207         Bald_Eagle Second_(1886-1990)     23                             35
208         Bald_Eagle Second_(1886-1990)     24                             48
209         Bald_Eagle Second_(1886-1990)     25                             53
210         Bald_Eagle Second_(1886-1990)     26                             33
211         Bald_Eagle Second_(1886-1990)     27                             67")

colours = c("#89A4DC", "#83593A")
BAEAPlot = ggplot(Maritime_BBA_Accipiter_Table_BAEA, aes(factor(Region), Number_of_Squares_with_Species, fill = Atlas)) + 
  geom_tile(stat="identity", position = "dodge") + 
  scale_fill_manual(values = colours)

In [16]:
pdf('BeautifulGraphics.pdf',useDingbats=FALSE, width=7.2, height=4.5, family='Helvetica')
print(BAEAPlot 
      + labs(x = "Region", y = "Number of Squares with Species", caption = "Figure 1:  Grouped bar plot showing the number of squares with 
Bald Eagle occurences in each region and during each Atlas") 
      + theme_bw() 
      + theme(panel.border = element_blank(), panel.grid.major = element_blank(), panel.grid.minor = element_blank(), axis.line = element_blank())) 
dev.off()

png
  2